# American mass shootings Map visualizer

## Objectives

*   Showcase of year by year analysis of mass shootings in United States of America
*   Detailed visualization on location of the events, victims and the approximate timeline
*   Primary purpose is to engage user with fluid visuals to comprehand severity of these fatal events and spread awareness about gun violence
*   Data source : [Mother Jones and the Foundation for National Progress](https://docs.google.com/spreadsheets/d/e/2PACX-1vQBEbQoWMn_P81DuwmlQC0_jr2sJDzkkC0mvF6WLcM53ZYXi8RMfUlunvP1B5W0jRrJvH-wc-WGjDB1/pub?gid=0&single=true&output=csv)

In [1]:
import pandas as pd
import numpy as np
import geopy as gp
from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt
from pylab import rcParams
%matplotlib inline

In [51]:
# Reading the database
BaseData = pd.read_csv("Data/MotherJonesDataBase.csv")
BaseData['date'] = pd.to_datetime(BaseData['date'])
BaseData = BaseData.sort_values(by="date")
print(BaseData)

                                      case                location       date  \
129                  Welding shop shooting          Miami, Florida 1982-08-20
128              Dallas nightclub shooting           Dallas, Texas 1984-06-29
127         San Ysidro McDonald's massacre  San Ysidro, California 1984-07-18
126  United States Postal Service shooting        Edmond, Oklahoma 1986-08-20
125        Shopping centers spree killings       Palm Bay, Florida 1987-04-23
..                                     ...                     ...        ...
4        Sacramento County church shooting  Sacramento, California 2022-02-28
3             Buffalo supermarket massacre       Buffalo, New York 2022-05-14
2          Robb Elementary School massacre           Uvalde, Texas 2022-05-24
1            Tulsa medical center shooting         Tulsa, Oklahoma 2022-06-01
0                Concrete company shooting    Smithsburg, Maryland 2022-06-09

                                               summary  fatalities  \
129  Junior high school teacher Carl Robert Brown, ...           8
128  Abdelkrim Belachheb, 39, opened fire at an ups...           6
127  James Oliver Huberty, 41, opened fire in a McD...          22
126  Postal worker Patrick Sherrill, 44, opened fir...          15
125  Retired librarian William Cruse, 59, was paran...           6
..                                                 ...         ...
4    "A man believed to be meeting his three childr...           4
3    Payton S. Gendron, 18, committed a racially mo...          10
2    Salvador Ramos, 18, was identified by authorit...          21
1    Michael Louis, 45, killed four, including two ...           4
0    The suspected 23-year-old gunman shot four cow...           3

                   injured total_victims location.1 age_of_shooter  \
129                      3            11      Other             51
128                      1             7      Other             39
127                     19            41      Other             41
126                      6            21  Workplace             44
125                     14            20      Other             59
..                     ...           ...        ...            ...
4                        0             4  Religious              -
3                        3            13  workplace             18
2                       17            38     School             18
1    (TK - "fewer than 10"            TK  workplace              -
0                        1             4  workplace             23

    prior_signs_mental_health_issues  ...  \
129                              Yes  ...
128                              Yes  ...
127                              Yes  ...
126                         Unclear   ...
125                              Yes  ...
..                               ...  ...
4                                  -  ...
3                                yes  ...
2                                yes  ...
1                                  -  ...
0                                  -  ...

                                        weapon_details    race gender  \
129  Mossberg 500 Persuader pump-action shotgun wit...   white   Male
128       9mm Smith & Wesson 459 semiautomatic handgun   white   Male
127  9mm Browning P35 Hi-Power semiautomatic handgu...   white   Male
126  .22-caliber, two .45-caliber Colt Model 1911-A...   white   Male
125  Sturm, Ruger Mini-14 semiautomatic rifle; 20-g...   white   Male
..                                                 ...     ...    ...
4                                                    -       -      M
3                 Bushmaster XM-15 semiautomatic rifle   White      M
2                                                    -  Latino      M
1                                    AR-15 style rifle   Black      M
0                                                    -       -      M

                                               sources  \
129  http://www.nytimes.com/1982/08/21/us/gunman-in...
128  http://books.google.com/books?id=Hr3OBwP-lbUC&...
127  http://www.utsandiego.com/san-ysidro-massacre/...
126  http://news.google.com/newspapers?id=dm8aAAAAI...
125  http://articles.latimes.com/1987-04-25/news/mn...
..                                                 ...
4    https://www.nytimes.com/2022/02/28/us/church-s...
3    https://www.nytimes.com/live/2022/05/15/nyregi...
2    https://abcnews.go.com/US/texas-elementary-sch...
1    https://www.nytimes.com/live/2022/06/01/us/tul...
0    https://www.washingtonpost.com/dc-md-va/2022/0...

                                 mental_health_sources  \
129  http://news.google.com/newspapers?id=uuYLAAAAI...
128  http://books.google.com/books?id=Hr3OBwP-lbUC&...
127  http://www.nctimes.com/news/local/article_2ba4...
126  http://newsok.com/sherrill-feared-mental-illne...
125  (Supreme Court of Florida Document) http://www...
..                                                 ...
4                                                    -
3    https://www.nytimes.com/2022/05/15/nyregion/gu...
2                                                    -
1                                                    -
0                                                    -

                                sources_additional_age     latitude  \
129  http://www.nytimes.com/1982/08/21/us/gunman-in...    25.796491
128  http://books.google.com/books?id=Hr3OBwP-lbUC&...    32.925166
127  http://www.utsandiego.com/san-ysidro-massacre/...   32.5520013
126  http://news.google.com/newspapers?id=dm8aAAAAI...   35.6672015
125  http://articles.latimes.com/1987-04-25/news/mn...   28.0331886
..                                                 ...          ...
4                                                    -  38.60111019
3                                                    -            -
2                                                    -            -
1                                                    -            -
0                                                    -            -

        longitude   type  year
129    -80.226683   Mass  1982
128    -96.838676   Mass  1984
127  -117.0430813   Mass  1984
126  -97.42937037   Mass  1986
125   -80.6429695  Spree  1987
..            ...    ...   ...
4    -121.4189659   Mass  2022
3               -   Mass  2022
2               -   Mass  2022
1               -   Mass  2022
0               -   Mass  2022

[130 rows x 24 columns]

In [52]:
# Only fetching the values that is useful to us
BaseData = BaseData[['location','date','total_victims']]
print(BaseData)
BaseData.dtypes

                   location       date total_victims
129          Miami, Florida 1982-08-20            11
128           Dallas, Texas 1984-06-29             7
127  San Ysidro, California 1984-07-18            41
126        Edmond, Oklahoma 1986-08-20            21
125       Palm Bay, Florida 1987-04-23            20
..                      ...        ...           ...
4    Sacramento, California 2022-02-28             4
3         Buffalo, New York 2022-05-14            13
2             Uvalde, Texas 2022-05-24            38
1           Tulsa, Oklahoma 2022-06-01            TK
0      Smithsburg, Maryland 2022-06-09             4

[130 rows x 3 columns]

location                 object
date             datetime64[ns]
total_victims            object
dtype: object

In [53]:
# Making sure that everything is in correct format
BaseData['year'] = pd.DatetimeIndex(BaseData['date']).year
BaseData['month'] = pd.DatetimeIndex(BaseData['date']).month
# Dropping rows that has any missing values
BaseData = BaseData.dropna()
# Total_victim has to have all the numeric values, if not remove that
BaseData['total_victims'] = pd.to_numeric(BaseData['total_victims'], errors = 'coerce')
BaseData = BaseData.dropna(subset=['total_victims'])

print(BaseData)

                   location  date  total_victims
129          Miami, Florida  1982           11.0
128           Dallas, Texas  1984            7.0
127  San Ysidro, California  1984           41.0
126        Edmond, Oklahoma  1986           21.0
125       Palm Bay, Florida  1987           20.0
..                      ...   ...            ...
5          Oxford, Michigan  2021           11.0
4    Sacramento, California  2022            4.0
3         Buffalo, New York  2022           13.0
2             Uvalde, Texas  2022           38.0
0      Smithsburg, Maryland  2022            4.0

[129 rows x 3 columns]

In [55]:
# split the city and the state
BaseData[['city','state']] = BaseData['location'].str.split(',',expand=True)
# removing any extra spaces around the name of the city and state
BaseData['city'] = BaseData['city'].str.strip()
BaseData['state'] = BaseData['state'].str.strip()
BaseData.head()

                   location  date  total_victims        city       state
129          Miami, Florida  1982           11.0       Miami     Florida
128           Dallas, Texas  1984            7.0      Dallas       Texas
127  San Ysidro, California  1984           41.0  San Ysidro  California
126        Edmond, Oklahoma  1986           21.0      Edmond    Oklahoma
125       Palm Bay, Florida  1987           20.0    Palm Bay     Florida